# PostgreSQL
DATABASE_URL=

# Server
CORS_ORIGINS=
HOST=
PORT=

# URL
AUTH_API_URL=
IGDB_API_URL=

# AUTH
# Genera una clave secreta aleatoria de 64 bytes con OpenSSL: openssl rand -base64 64
AUTH_SECRET_KEY=

# BCRYPT
SALT_ROUNDS=
