# Node modules
node_modules/

# Build output
dist/
tsconfig.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor settings
.vscode/
.idea/

# Barrelsby cache
barrelsby.log

# ESLint / Prettier reports
reports/
